@import "./variables.scss";

.column-list {
  display: flex;
  margin: 0 -6px;

  overflow-x: auto;
  overflow-y: hidden;

  flex: 1;
}

.column-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 6px;
  flex-shrink: 0;
}

.column {
  background: $gray;
  width: 272px;
  border-radius: 3px;
  overflow: hidden;
  max-height: 100vh;
  padding: 15px;

  &__title {
    font-weight: bold;
    padding-bottom: 12px;
  }
}
