body {
  padding: 0;
  margin: 0;
}

#app {
  background-image: url("../images/wp4756563-blue-starry-sky-aesthetic-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
