@import "./variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  font-size: 13px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  background-image: url("../images/wp4756563-blue-starry-sky-aesthetic-wallpapers.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

  width: 100%;
}

.icon {
  width: 100%;
  height: 100%;
  fill: $textLight;

  transition: fill ease 0.3s;

  &:hover {
    fill: darken($textLight, 10);
  }
}
